body {
background-color: #ddf3f5;
}

input {
  display: block;
  height: 20vw;
  width: 40vw;
  margin: 10px auto;
  padding: 0;
}

input:hover {
  background-color: #cfe5cf;
  height: 21vw;
  width: 41vw;
}