body {
background-color: #ddf3f5;
text-align: center;
}

input {
  display: inline-block;
  height: 5vw;
  width: 10vw;
  margin: 10px auto;
  padding: 0;
}

input:hover {
  background-color: #cfe5cf;
  height: 6vw;
  width: 11vw;
}